@import '~scss/_variables.scss';
@import '../../assets/sprites.css';

.header{
  display: flex;
  align-items: center;
  justify-content: center;
  background: $color3;
  width: 100%;
  height: 10vh;
  box-shadow: $box-shadow;
  position: fixed;
  top: 0;
  &__text{
      font-size: 35px;
      color: $color4;
      font-family: 'Aldrich', sans-serif;
  }
  &__icon{
      // @extend .pokemons-145;
      width: 64px;
      height: 64px;
  }
}
