<footer class="footer">
    <p class="footer__title">OTHERS</p>
    <ul class="footer__container">
        <li class="footer__tile">
            <div class="footer__pokemon footer__pokemon--1"></div>
        </li>
        <li class="footer__tile">
            <div class="footer__pokemon footer__pokemon--2"></div>
        </li>
        <li class="footer__tile">
            <div class="footer__pokemon footer__pokemon--3"></div>
        </li>
        <li class="footer__tile">
            <div class="footer__pokemon footer__pokemon--4"></div>
        </li>
    </ul>
</footer>
