<div class="pokemon-list">
  <ul class="pokemon-list__container">
      <li class="pokemon-list__tile">
          <div class="pokemon-list__pokemon pokemon-list__pokemon--1"></div>
      </li>
      <li class="pokemon-list__tile">
          <div class="pokemon-list__pokemon pokemon-list__pokemon--2"></div>
      </li>
      <li class="pokemon-list__tile">
          <div class="pokemon-list__pokemon pokemon-list__pokemon--3"></div>
      </li>
      <li class="pokemon-list__tile">
          <div class="pokemon-list__pokemon pokemon-list__pokemon--4"></div>
      </li>
  </ul>
</div>
