//Breakpoints
$small: 320px;
$medium: 640px;
$large: 1024px;
//Colors Palette
$color1: #DFF5F4;
$color2: #1F2026;
$color3: #C82A40;
$color4: #F6F6F6;

$box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
